body {
  background-color: black;
  color: white; /* ensures text is visible */
  font-family: monospace;
}
textarea {
  width: 100%;
  height: 300px;
  background-color: #1e1e1e;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
}
.dark-mode {
  background-color: #121212;
  color: white;
}   
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
.split{
  display: flex;
  justify-content: space-between;
  gap: 20px;}
#leftDiv, #rightDiv {
  flex: 1;  
}
.leftDiv {
  background-color: lightblue;
  padding: 20px;
}
.rightDiv {
  background-color: lightgreen;
  padding: 20px;
}
.center {
  text-align: center;
}